/* CSS */

*

/* 
div container
font - user input, headings
center
make responsive
style button
*/



body {
    background-image: url("assets/images/regal.png");
    font-family: 'MedievalSharp', cursive;
    font-size: 28px;
    line-height: 2;
}

h1,
h2,
h3 {
    font-weight: bold;
    font-size: 25px;

}

#wrapper {
    box-sizing: border-box;
    border-left: 1px solid #c5b2a9;
    border-right: 1px solid #c5b2a9;
    border-bottom: 1px solid #c5b2a9;
    border-top: 1px solid #c5b2a9;
    background-color: #f6f0da;
    color:#923734;
    margin-top: 40px;
    padding: 20px;
    height: auto;
    font-size: 16px;
    font-weight: normal;

}