/* CSS */

*

/* 
div container
font - user input, headings
center
make responsive
style button
*/



body {
    background-image: url("../images/knight.jpg");
    font-family: 'MedievalSharp', cursive;
    font-size: 28px;
    line-height: 2;
    overflow: auto;
}

.jumbotron {
    opacity: 0.75;
    background-color: #efd597;
    text-align: center;
    padding: 20px;
}

h1 {
    opacity: 1;
    font-size: 60px;
    font-weight: bold;
    color: #525949;
}

h2,
h3 {
    font-size: 25px;
    color: #525949;
    opacity: 1;

}

#wrapper {
    box-sizing: border-box;
    background-color: #efd597;
    margin-top: 40px;
    padding: 20px;
    height: auto;
    font-size: 20px;
    font-weight: normal;
    opacity: 0.75;
    text-align: center;

}

p {
    opacity: 1;
    font-size: 25px;
}

.yesBtn{
    color: #efd597;
    background-color: #525949;

}

#blankWord {
    font-size: 60px;
}